<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Automatic Download Series Torrent</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search serie to add" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Add Series</button>
            </form>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Direct download torrent" class="form-control">
                </div>
            </form>
        </div>
    </div>
</nav>