parameters:
    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt


fabex_beta_serie:
    key: YourBetaSerieAPIKey #this is mine 'a1020b4ecdb5'
    username: YourBetaSerieUserName
    password: YourBetaSeriePassword